/* Временные стили добавлять здесь */

.item {
   /* Auto layout */
   padding: 24px;
   gap: 24px;
   width: 453px;
   height: 420px;
   border: 1px solid #ECEEF1;
   border-radius: 8px; }

.item1 {
/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;
width: 405px;
height: 266px;
       }