/* Временные стили добавлять здесь */

.item {
   /* Auto layout */
   padding: 24px;
   gap: 24px;
   width: 453px;
   height: 420px;
   border: 1px solid #ECEEF1;
   border-radius: 8px; 
   Top: 146px;
   Left: 615px;
}

.item1 {
/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;
width: 405px;
height: 266px;
Top: 72px;
Left: 24px;
  }

.container {
    /* Auto layout */
    width: 1140px;
    height: 836px;
    left: 237px;
    top: 64px;
                }      

 .info {
    /* Auto layout */
   Top: 50px;
   Left: 72px;
   Width: 447px;
   Height: 398px;
                }                 